* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Desktop Styles for Forgot Password*/

body {
  background-color: rgb(255, 255, 255);
}

.forgot-password .forgot {
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.forgot-password .forgot img {
  float: right;
  margin-bottom: 10px;
  padding: 5px;
}

.forgot-password .top {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 53px;

  letter-spacing: 0.1em;
  padding-bottom: 20px;
  color: #e50914;
}

.forgot-password .text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #141212;
  padding: 20px;
  margin-top: 10%;
}
/*
.text{
    color: black;

    padding: 20px;
    font-size: 15px;
    margin-top: 10%;
}
*/

.forgot-password .label {
  margin-left: -27%;
}
.forgot-password input {
  width: 50%;
  border-radius: 5px;
  border: solid rgb(229, 228, 228) 1px;
  padding: 10px;
  margin: 10px;
}

.forgot-password button {
  background-color: #e50914;
  border: 0px;
  color: white;
  width: 50%;
  padding: 10px;
  margin-top: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password input :placeholder-shown {
  color: black;
  font-size: 8px;
}

/*Desktop Style for reset password */

.forgot-password .reset {
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.forgot-password .reset img {
  float: right;
  margin-bottom: 5px;
  padding: 5px;
}
.forgot-password .top {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 53px;

  letter-spacing: 0.1em;
  padding-bottom: 20px;
  color: #e50914;
}

.forgot-password .pre {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #141212;
  padding: 20px;
  margin-top: 10%;
}

.forgot-password .resetform {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
.forgot-password .resetlabel1 {
  margin-left: -35%;
}
.forgot-password .resetlabel2 {
  margin-left: -30%;
}
.forgot-password input {
  width: 50%;
  border-radius: 5px;
  border: solid rgb(229, 228, 228) 1px;
  padding: 10px;
  margin: 10px;
}

.forgot-password button {
  background-color: #e50914;
  border: 0px;
  color: white;
  width: 50%;
  padding: 10px;
  margin-top: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password input :placeholder-shown {
  color: black;
  font-size: 8px;
}

/*Desktop Style for OTP password */

.forgot-password .otp {
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.forgot-password .otp img {
  float: right;
  margin-bottom: 2px;
  padding: 5px;
}

.forgot-password .top {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 53px;

  letter-spacing: 0.1em;
  padding-bottom: 20px;
  color: #e50914;
}

.forgot-password .otptext {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #141212;
  padding: 20px;
  margin-top: 10%;
}

.forgot-password .otpform {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.forgot-password .otpform input {
  width: 5%;
  border-radius: 5px;
  border: solid rgb(229, 228, 228) 1px;
  padding: 10px;
  margin: 10px;
  background-color: #d9d2d2;
}

.forgot-password button {
  background-color: #e50914;
  border: 0px;
  color: white;
  width: 50%;
  padding: 10px;
  margin-top: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password input :placeholder-shown {
  color: black;
  font-size: 8px;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Desktop Styles for Forgot Password*/

  body {
    background-color: rgb(255, 255, 255);
  }

  .forgot-password .forgot {
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
  }

  .forgot-password .forgot img {
    float: right;
    margin-bottom: 10px;
    padding: 5px;
  }

  .forgot-password .top {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;

    letter-spacing: 0.1em;
    padding-bottom: 20px;
    color: #e50914;
  }

  .forgot-password .text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #141212;
    padding: 20px;
    margin-top: 10%;
  }
  .forgot-password .label {
    float: left;
    margin-left: 25%;
  }

  .forgot-password input {
    width: 50%;
    border-radius: 5px;
    border: solid rgb(229, 228, 228) 1px;
    padding: 10px;
    margin: 10px;
  }

  .forgot-password button {
    background-color: #e50914;
    border: 0px;
    color: white;
    width: 50%;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
  }

  .forgot-password input :placeholder-shown {
    color: black;
    font-size: 8px;
  }

  /*Desktop Style for reset password */

  .forgot-password .reset {
    margin: auto;
    text-align: center;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
  }

  .forgot-password .reset img {
    float: right;
    margin-bottom: 5px;
    padding: 5px;
  }
  .forgot-password .top {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;

    letter-spacing: 0.1em;
    padding-bottom: 20px;
    color: #e50914;
  }

  .forgot-password .pre {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #141212;
    padding: 20px;
    margin-top: 10%;
  }

  .forgot-password .resetform {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
  }
  .forgot-password .resetlabel1 {
    margin-left: -50%;
  }
  .forgot-password .resetlabel2 {
    margin-left: -40%;
  }
  .forgot-password .resetform input {
    width: 80%;
    border-radius: 5px;
    border: solid rgb(229, 228, 228) 1px;
    padding: 10px;
    margin: 10px;
  }

  .forgot-password button {
    background-color: #e50914;
    border: 0px;
    color: white;
    width: 50%;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
  }

  .forgot-password input :placeholder-shown {
    color: black;
    font-size: 8px;
  }

  /*Desktop Style for OTP password */

  .forgot-password .otp {
    margin: auto;
    text-align: center;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
  }

  .forgot-password .otp img {
    float: right;
    margin-bottom: 2px;
    padding: 5px;
  }

  .forgot-password .top {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;

    letter-spacing: 0.1em;
    padding-bottom: 20px;
    color: #e50914;
  }

  .forgot-password .otptext {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #141212;
    padding: 20px;
    margin-top: 10%;
  }

  .forgot-password .otpform {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
  }

  .forgot-password .otpform input {
    width: 5%;
    border-radius: 5px;
    border: solid rgb(229, 228, 228) 1px;
    padding: 10px;
    margin: 10px;
    background-color: #d9d2d2;
  }

  .forgot-password button {
    background-color: #e50914;
    border: 0px;
    color: white;
    width: 50%;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
  }

  .forgot-password input :placeholder-shown {
    color: black;
    font-size: 8px;
  }
}
